.home-nav-wrap {
    position: fixed;
    z-index: 33;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: var(--theme-navBgColor);
    box-shadow: var(--theme-navBoxShodow);
    //padding: 1.5rem 6rem; //padding: 24px 100px;
    transition: all 0.5s;
    height: 85px;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.home-nav {
    height: 100%;
    flex: 1;

    &-lt {
        .logo {
            width: 150px; // 200px 12rem
            margin-right: 45px;
        }

        .home-nav-list {
            //font-size: 18px;
            font-weight: bold;

            &-item {
                color: #646464;
                text-decoration: none;
                padding: 15px 30px;
                margin-right: 15px;
                border: 2px solid rgba(255, 255, 255, .3);
                //box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .1), -4px -4px 6px rgba(255, 255, 255, 1);
                border-radius: 10px;
                transition: color 0.2s ease-out, transform 0.2s ease-out;
            }

            &-item:hover {
                transform: scale(1);
                box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1);
            }

            .active {
                transform: scale(0.95);
                box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px 0 rgba(0, 0, 0, .1) inset, -4px -4px 10px rgba(255, 255, 255, 1) inset;
                //box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
            }

            .active,
            &-item:hover {
                color: #F3CECE !important;
                background: #fff;
            }

            a:visited {
                color: #646464;
            }
        }
    }

    &-rt {
        .login-btn {
            font-size: 16px;
            font-weight: bold;
            padding: 15px 30px;
            color: #fff;
            background: #F3CECE;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 45px;
        }

        .login-btn:hover,
        .login-btn:focus {
            box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.09), -7px -7px 15px #ffffff;
            // transform: translateY(-0.25em);
            animation: shaking 2.5s infinite;
        }

        /***** Menu Button *****/
        .home-mobile-menu {
            &-btn {
                position: relative;
                height: 2px;
                width: 22px;
                outline: none;
                display: none;
                margin-left: 30px;

                span,
                span::before,
                span::after {
                    position: absolute;
                    content: '';
                    width: 22px;
                    height: 2px;
                    background: var(--theme-color);
                    // transition: .7s cubic-bezier(0.77, 0, 0.175, 1);
                    transition: all .4s ease;
                }

                span {
                    position: relative;
                    display: block;
                    top: 50%;
                    transform: translate(0, -50%);
                }

                span::before {
                    top: -6px;
                }

                span::after {
                    top: 6px;
                }
            }

            &-list {
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
                background-color: var(--theme-navBgColor);
                clear: none;
                max-height: 0;
                transition: max-height .5s ease-out;
                position: absolute;
                left: 0;
                top: 85px;
                width: 100%;
                color: var(--theme-color);

                li a {
                    padding: 20px;
                    display: block;
                    text-decoration: none;
                    font-weight: bold;
                    color: var(--theme-color);
                }

                li a:visited {
                    color: var(--theme-color);
                }
            }
        }

        .active {
            span {
                background: transparent;
            }

            span::before {
                // transform: rotate(-225deg);
                transform: rotate(-45deg);
                top: 0px;
            }

            span::after {
                // transform: rotate(225deg);
                transform: rotate(45deg);
                top: 0px;
            }
        }

        .show-list {
            max-height: 240px;
            background-color: var(--theme-navBgColor);
            box-shadow: var(--theme-navBoxShodow);
        }
    }
}

@keyframes shaking {
    55% {
        transform: translateY(-10px);
    }
}

@media (min-width: 961px) {
    .home-nav {
        &-rt {
            .home-mobile-menu {
                &-list {
                    clear: none;
                    max-height: 0;
                }
            }
        }
    }
}